{% extends 'Home/base.html' %}
{% load static %}

{% block BASE_CONTENIDO %}

    <div class="row align-items-center my-5">
        <h1 class="pb-lg-3 text-bg-light">
            {% block INDEX_TITULO %}
                Página de inicio
            {% endblock INDEX_TITULO %}
        </h1>
    </div>

    {% block INDEX_CONTENIDO %}

    
        {% if user.is_authenticated %}
            {{ mensaje }}
            <h3> Bienvenido {{ user.username }}</h3>
        {% endif %}

        {% if user.is_staff %}
            <div class="row">
                <a href="{% url 'admin:index' %}" class="btn btn-outline-dark">Panel de Administración</a>
            </div>
            <div class="row">
                <a href="{% url 'Home:register' %}" class="btn btn-outline-dark">Registrar nuevo vendedor</a>
            </div>
        {% endif %}


        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'Home/img/logo-sph-servicios.svg' %}" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">SPH Servicios</h1>
                <p>Somos una empresa, dedicada a brindar servicios referidos a la higiene ambiental, teniendo como mayor objetivo el mejoramiento de las condiciones de vida, brindando un servicio eficiente y seguro.

 

                    Sabemos que la responsabilidad implica trabajar en estas áreas tan importantes para la salud de las personas y la higiene del ambiente. Por esto tenemos una relación directa y personalizada con cada uno de nuestros clientes a modo de mantener, en optimas condiciones, la complementariedad entre el usuario y nuestras tareas desempeñadas. Concientizando y dándole información técnica y detallada de su problema, brindándole seguridad con técnicas y planes de trabajo tanto de control y prevención de plagas como de la limpieza y desinfección de tanques.
                    
                     
                    
                    Nuestro personal, capacitado en técnicas laborales, como en la atención personalizada, brinda seguridad a la hora de realizar los trabajos.
                    
                     
                    
                    Indicamos los planes y soluciones más adecuados para su situación, acompañada de su correspondiente presupuesto.
                    
                     
                    
                    Certificamos cada trabajo avalado por nuestro Director Técnico y por el Gobierno de la Ciudad de Buenos Aires.</p>
                <a class="btn btn-primary" href="https://wa.me/5492619999999999" target="_blank">WhatsApp</a>
            </div>
        </div>

        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">

            {% include 'Home/card.html' with card="Tarjeta 1" saludo="¡Hola!" %}
            {% include 'Home/card.html' with card="Tarjeta 2" %}
            {% include 'Home/card.html' with card="Tarjeta 3" %}
            {% include 'Home/card.html' with card="Tarjeta 4" %}

        </div>
    {% endblock INDEX_CONTENIDO %}

{% endblock BASE_CONTENIDO %}